* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Rowdies", cursive;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 20px 0;
}

#wrapper {
  width: 70vw;
}

#main__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

#settings__container {
  width: 300px;
  height: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

input[type="color"],
#rainbow_color {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
}

input[type="color"]:hover,
#rainbow_color:hover {
  transform: scale(0.9);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

#rainbow_color {
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(5, 0, 242, 0.88) -18.75deg,
    #ff0000 43.12deg,
    #edf200 176.25deg,
    #05f200 260.62deg,
    rgba(5, 0, 242, 0.88) 341.25deg,
    #ff0000 403.12deg
  );
}

#button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#erase_button,
#clear_button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

#draw__container {
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.grid__cell {
  user-select: none;
}

#button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#color__container h2 {
  margin-bottom: 20px;
}

#color__container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#grid_change__container div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header__title {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 20px;
}

.grid_letter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 10px;
  width: 45px;
  height: 75px;
}

@keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
